@model List<Portfolio>

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1>Son Projelerime Göz Atabilirsiniz</h1>

            <p class="lead">
                Bu bölümde, hem frontend hem de backend odaklı geliştirdiğim projeleri bulabilirsiniz. Her proje, teknik
                becerilerimi ve çözüm odaklı yaklaşımımı sergileyen gerçek dünya uygulamalarıdır. Projelerde kullanıcı
                deneyimi, performans ve sürdürülebilir kodlama prensiplerine önem verdim. Farklı teknolojiler ve
                araçlarla çalışarak, her projeyi hem işlevsel hem de etkileyici bir şekilde tamamladım. Bu çalışmalar,
                yazılım geliştirme sürecindeki yetkinliğimi ve sürekli öğrenme tutkumun bir yansımasıdır.
            </p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="masonry__brick">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="@item.Url" target="_blank" title="@item.Title">
                                <img src="@Url.Content("~/" + item.ImageUrl)" alt="@item.Title" />
                                <span class="shadow-overlay"></span>
                            </a>

                        </div>
                        <div class="item-folio__text">
                            <h3 class="item-folio__title">@item.Title</h3>
                            <p class="item-folio__cat">@item.SubTitle</p>
                        </div>
                        <a href="@item.Url" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>
                        <div class="item-folio__caption">
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>